@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&display=swap');

:root {

    --max-width: 1450px; /* ex 1170 */

    /* dark theme */
    --bg-color:rgba(0, 96, 185);
    --fg-color: #fff;
    --hero-bg-color: linear-gradient(180deg, #0053B1 -2.22%, #002988 97.78%);;
    --hero-color: #fff;
    --second-color:#F48C06;
    --third-color: #30daf1;

    /* light theme */
    --bg-color: #fff5e7;
    --fg-color: #A86002;
    --hero-bg-color: #ffdfb6;
    --hero-color: #F48C06;
    --second-color:#006CA8;
    --third-color: #006CA8;


    --navbar-height: 5rem;
    --navbar-reduced-height: 3rem;

    --rounded-divider-height: 4rem;

    /* filter: invert(100%); */

}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* STYLING */

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    color: var(--fg-color);
    background: var(--bg-color);
}

a  {
    text-decoration: none;
    color: var(--fg-color);
}    

.wrapper {
    max-width: var(--max-width);
    margin-left: auto; /* longhand preferred here to avoid adiacent wrappers confusion */
    margin-right: auto;

}
  

.flex {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

/* NAVBAR */

.navbar {
    position: fixed;
    top:0px;
    width: 100%;
    height: var(--navbar-height);
    overflow: hidden;

    background: var(--hero-bg-color) 1;
    transition: all .5s ease;
    z-index: 1;
}

.navbar img {
    height: var(--navbar-height);
    width: auto;
    align-content:center;
    transition: height .5s ease;
    padding: 5px;
}

.navbar ul {
    display: flex;
    /* height: calc(var(--navbar-height)+20px); */
    height: var(--navbar-height);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.navbar ul a {
    color: var(--fg-color);
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    height: 100%;
    padding: 55px 20px 25px 20px;
    margin: 15px;   
    
}

.navbar ul a:hover {
    background: var(--third-color);
    border-radius: 0px 0px 10px 10px;
}

.navbar-scrolling {
    height: var(--navbar-reduced-height);
    background: var(--hero-bg-color);
    z-index: 1;
}

.navbar-scrolling img {
    height: var(--navbar-reduced-height);
    width: auto;
    align-content:center;
}

/* HERO */

.hero {
    display: grid;
    position: relative;
    place-content: center;
    height:80vh;
    overflow: hidden;
    background: var(--hero-bg-color);
    padding-bottom: var(--rounded-divider-height);
    /* border: 1px solid blue; */
    
}

.hero .wrapper {
    position: relative;
    display: grid;
    justify-content: center;
    /* height: 90%; */
    grid-template-columns: 1fr 2fr;
    grid-template-rows: minmax(auto, 1fr) minmax(0, auto);
    align-items: center;
    top:50px;
    padding: 50px;
    /* border: 1px solid red; */
}

.hero-quote {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-right: 10vw;
    padding-left: 10vw;
    font-weight: 600;
    text-align: left;
    align-self: start;
}

/* .logocontainer {
    display: flex;
    place-content: center;
    height: 100%;
    width: 100%;
} */

.watermark {
    position: absolute;
    top: var(--navbar-reduced-heightheight);
    left: 50px;
    opacity: 0.3;
    object-fit: cover;
    animation: watermark-anim 5s alternate-reverse infinite ease-in-out;
}

@keyframes watermark-anim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(5deg);
    }
}

.hero img {
    height: 100%;
}

.hero h1 {
    position: relative;
    /* top: 140px; */
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 75px;
    letter-spacing: 0.02em;
    color: var(--hero-color);
}

.hero h1 .lab {
    color: var(--second-color);
}

.hero h1 .imperia {
    position: relative;
    left: 90px;
}

.hero h2 {
    position: relative;
    left: 90px;
    top: 5px;
    font-family: "Exo", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 5px;
    letter-spacing: 0.07em;
    color: var(--third-color);
}


/* LINEA .hero p::after {
    display: block;
    content: " ";
    height: 20px;
    width: 250px;
    border-bottom: 1px solid var(--second-color);
    z-index: 2;
} */

.rounded-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: calc(130% + 1.3px);
    height: var(--rounded-divider-height);
    rotate: 180deg;
    animation: divider-anim 5s alternate-reverse infinite ease-in-out;
}

.rounded-divider .shape-fill {
    fill: var(--bg-color);
}

@keyframes divider-anim {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(200px);
    }
}

/* SUMMARY */

.summary {
    display: grid;
    position: relative;
    width: 100%;
    /* height: 40vh; */
    overflow: hidden;
    place-content: stretch;
    background: var(--bg-color);
    padding: 50px 0;
    /* border: 1px solid blue; */
    
}

.summary .wrapper {
    position: relative;
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.card {
    background-color: transparent;
    border-radius: 15px;
    font-family: "Exo", sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    line-height: 25px;
    transition: 0.15s;
    cursor: pointer;
}

.card i {
    color: var(--hero-color);
    padding-bottom: 15px;
}

.card h3 {
    position: relative;
    left: -5px;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--second-color);
}

.card h4 {
    color: var(--second-color);
}

 .card .hash {
    font-size: 1.2rem;
    font-weight: normal;
}

 /* .card:hover {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
} */

 .card:active {
    background-color: rgba(83, 243, 203, 0.637);
    opacity: 1;
}