@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&display=swap');

:root {

    --max-width: 1366px; /* ex 1170 */

    /* light theme */
    --bg-color: #fff5e7;
    --fg-color: #A86002;
    --hero-bg-color: #ffdfb6;
    --hero-color: #F48C06;
    --second-color:#006CA8;
    --third-color: #74A70E;

    --navbar-height: 5rem;
    --navbar-reduced-height: 3rem;

    --waves-divider-height: 4rem;

    /* filter: invert(100%); */

}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* STYLING */

* {
    box-sizing: border-box;
    /* border: 1px solid red !important; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    height: 400vh;
    line-height: 1.6;
    color: var(--fg-color);
    background: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Exo", sans-serif;
    font-style: italic;
    font-weight: 500;
    color: var(--highlight-color);
}

h1 {
    font-weight: 900;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.02em;
    }

h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 40px;

}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}
h5 {font-size: 1.1rem;}
h6 {font-size: 0.9rem;}


a  {
    text-decoration: none;
    color: var(--fg-color);
}    

.wrapper {
    max-width: var(--max-width);
    margin-left: auto; /* longhand preferred here to avoid adiacent wrappers confusion */
    margin-right: auto;  /* TODO add dynamic margins */
    
}

/* UTILITY */

.button {
    display:inline-block;
    border: 3px solid var(--fg-color);
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    color: var(--fg-color);
    font-size: 0.9rem;
    font-weight: 700;
    opacity: 0.90;
    transition: 0.10s;
    justify-self: center;
    margin: 20px 0;
}

.button:hover {
    transform: scale(1.02);
    opacity: 1;
}


.top-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: calc(130% + 1.3px);
    height: var(--waves-divider-height);
    rotate: 180deg;
    animation: divider-anim 5s alternate-reverse infinite ease-in-out;
}

.top-divider .shape-fill {
    fill: var(--bg-color);
}

/* @keyframes divider-anim {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(200px);
    }
} */

.bottom-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.bottom-divider svg {
    position: relative;
    display: block;
    width: calc(157% + 1.3px);
    height: var(--waves-divider-height);
}

.bottom-divider .shape-fill {
    fill: #FFF5E7;
}

.figure svg, object {
    top:40px;
    height: 100%;
    width: 100%;
    filter: drop-shadow( 0 0 25px var(--hero-bg-color));

}


.littlegear {
    animation: anim-littlegear 2s alternate-reverse infinite ease-in-out;
    transform-box: fill-box;
}

@keyframes anim-littlegear {
    from {
        transform: rotate(0deg);
        transform-origin: center;
    }
    to {
        transform: rotate(360deg);
        transform-origin: center;
        
    }
    
} 

/* NAVBAR */

.navbar {
    position: fixed;
    width: 100%;
    height: var(--navbar-height);
    overflow: hidden;
    background: var(--hero-bg-color) 1;
    transition: all .5s ease;
    z-index: 1;
}

.navbar .wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.navbar img {
    height: var(--navbar-height);
    width: auto;
    align-content:center;
    transition: height .5s ease;
    padding-top: 10px;
}

.navbar ul {
    display: flex;
    /* height: calc(var(--navbar-height)+20px); */
    height: var(--navbar-height);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.navbar ul a {
    color: var(--fg-color);
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    height: 100%;
    padding: 55px 20px 25px 20px;
    margin: 15px;   
    
}

.navbar ul a:hover {
    text-decoration: underline 1.5px solid var(--fg-color);
    text-underline-offset: 5px;
}

.navbar-scrolling {
    height: var(--navbar-reduced-height);
    background: var(--hero-bg-color);
    z-index: 1;
}

.navbar-scrolling img {
    height: var(--navbar-reduced-height);
    width: auto;
    align-content:center;
}

/* HERO */

.hero {
    display: grid;
    position: relative;
    place-content: center;
    overflow: hidden;
    /* background: var(--hero-bg-color); */
    background: linear-gradient(90deg, #ffdfb6ff 0%, #ffdfb6ff 20%, #ffdfb622 60%, rgba(255, 228, 197, 0.39) 100%), url('imgs/IMG_20170604_155258\ crop2.jpg');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: right;    
    padding-top: calc(var(--navbar-height) * 2.2);
    padding-bottom: calc(var(--waves-divider-height) + 30px);
    
    /* border: 1px solid blue; */
    
}

.hero .wrapper {
    position: relative;
    display: grid;
    max-height: 400px;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: minmax(auto, 1fr) minmax(0, 1fr);
    align-items: center;
    
    
    /* border: 1px solid red; */
}

.hero-quote {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-weight: 500;
    text-align: left;
    align-self: start;
    padding-top: 40px;
    
}

/* .hero .figure {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    
    position: relative;
    display: flex;
    justify-content: end;
    align-content: end;
    height: 100%;
    top: 120px;
} */

/* .logocontainer {
    display: flex;
    place-content: center;
    height: 100%;
    width: 100%;
} */

/* .watermark {
    position: absolute;
    top: var(--navbar-reduced-heightheight);
    left: 50px;
    opacity: 0.4;
    object-fit: cover;
    animation: watermark-anim 5s alternate-reverse infinite ease-in-out;
}

@keyframes watermark-anim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(5deg);
    }
} */

.hero img {
    height: 100%;
}

.hero h1 {
    position: relative;
    font-family: "Exo", sans-serif;
    font-size: 80px;
    line-height: 75px;
    color: var(--hero-color);
    filter: drop-shadow(5px 5px 5px #ffdfb6);
}

.hero h1 .lab {
    color: var(--second-color);
}

.hero h1 .imperia {
    position: relative;
    left: 90px;
}

.hero h2 {
    position: relative;
    left: 90px;
    top: 0px;
    font-family: "Exo", sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.07em;
    color: var(--third-color);
}


/* LINEA .hero p::after {
    display: block;
    content: " ";
    height: 20px;
    width: 250px;
    border-bottom: 1px solid var(--second-color);
    z-index: 2;
} */


/* SUMMARY */

.summary {
    display: flex;
    flex-direction: column;
    height: 450px;
    place-content: center;
    overflow: hidden;
    background: var(--bg-color);
    text-align: center;
    /* border: 1px solid blue; */
    
}

.summary .wrapper {
    display: flex;
    width: 60%;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;                /* TODO WRAP by EVENS see below */
    padding-bottom: 0;
    /* border: 1px solid red; */
}


.summary > h3 {
    color: var(--third-color);
}

/* .summary .wrapper:nth-child(3n) {
    flex-basis: 100%;
} */

.card {
    background-color: transparent;
    font-family: "Exo", sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    line-height: 25px;
    transition: 0.15s;
    cursor: pointer;
}

.card i {
    position: relative;
    color: var(--hero-color);
    padding-bottom: 15px;
}

.card h3 {
    position: relative;
    left: -5px;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--second-color);
}

.card h4 {
    position: relative;
    font-weight: normal;
    font-style: italic;
    font-size: 1rem;
    color: var(--second-color);
}

 .card .hash {
    font-size: 1.2rem;
    font-weight: normal;
}

 /* .card:hover {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
} */

 .card:active {
    background-color: rgba(83, 243, 203, 0.637);
    opacity: 1;
}

.summary-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: calc(130% + 1.3px);
    height: var(--waves-divider-height);
    rotate: 180deg;
    animation: divider-anim 5s alternate-reverse infinite ease-in-out;
}

.summary-divider .shape-fill {
    fill: var(--second-color);
}

/* LABORATORY */

.laboratory {
    background: linear-gradient(90deg, #ffdfb6 0%, #ffdfb6ff 35%, #ffdfb644 60%, rgba(255, 228, 197, 0.39) 100%), url('imgs/IMG_2885cropped.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;    
    position: relative;
    height: 600px;
    padding: calc(var(--waves-divider-height) + 50px);
    overflow: hidden;
}

.laboratory .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 50px;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    
}

.laboratory h1 {
    position: relative;
    color: var(--hero-color);
}

/* .laboratory img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: auto;
} */

/* .laboratory .figure img:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(41,137,216,0.92) 100%,rgba(125,185,232,0) 100%);
    z-index: 1;
  } */


  